.wrapper {
	display: flex;
	width: 100%;
}

body {
	background: #1d1f21;
}

.sidebar-inner {
	width: 270px;
	position: fixed;
	height: 100%;
	background: #2a2d30;
	z-index: 999;
	transition: all 0.3s ease;
}

.wrapper .sidebar {
	position: relative;
}

.wrapper .main-container {
	margin-left: 270px;
	width: calc(100% - 270px);
	transition: all 0.3s ease;
	padding-top: 100px;
  	padding-right: 80px;
  	padding-bottom: 100px;
  	padding-left: 80px;
}

.wrapper .sidebar-inner .sidebar-menu a {
	padding: 10px 15px;
	display: block;
	height: 90px;
	background-color: #2a2d30;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
}

.wrapper .sidebar-inner .sidebar-menu a:hover {
	color: #707982;
}

.wrapper .sidebar-inner .close {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 25px;
	color: white;
	display: none;
}

.wrapper .main-container{
	text-align: center;
	font-size: 17px;
}

.wrapper .main-container .top-bar .hamburger {
	color: white;
	opacity: 0.5;
}

.wrapper .main-container .top-bar .hamburger i:hover {
	opacity: 0.75;
}

.wrapper .main-container .top-bar {
	display: flex;
}

.wrapper .main-container .top-bar .hamburger {
	position: relative;
	display: none;
}

.wrapper .sidebar .sidebar-header {
	font-size: 27px;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
	padding: 10px 10px;
}

.wrapper .sidebar .sidebar-username {
	font-size: 20px;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
	padding: 10px 15px;
}

.borderless {
	border: none;
}

@media screen and (max-width: 800px) {
	.wrapper .sidebar-inner {
		left: -100%;
	}

	.wrapper.active .sidebar-inner {
		left: 0;
	}

	.wrapper .main-container,
	.wrapper .main-container .top-bar {
		margin-left: 0;
		width: 100%;
	}

	.wrapper .sidebar-inner .close,
	.wrapper .main-container .top-bar .hamburger {
		display: block;
	}
}