<!-- PAGE CONTENT STARTS HERE -->
<div class="container-xl">
  <div class="page-content pisava">
    <div class="row mt-5">
      <div class="col-lg-6 col-md-12-map text-center" style="color: white;">
        <h2>Login</h2>
        <form id="signinform" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input [(ngModel)]="username" type="text" class="form-control" id="username" name="username" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember">Remember me</label>
          </div>
          <input type="hidden" name="longitude" id="getlon" />
          <input type="hidden" name="latitude" id="getlat" />
          <div *ngIf="!isConnected()" class="m-3 h-100" style="color: white">There is no connection</div>
          <button [disabled]="!isConnected()" class="btn btn-outline-dark">Login</button>
        </form>
        <div id="loginInfo" class="mt-2">{{signInError}}</div>
      </div>


      <div class="col-lg-6 col-md-12 text-center" style="color:white;">
        <h2>Register</h2>
        <form id="formRegister" (ngSubmit)="register()">
          <div class="form-group">
            <label for="email">e-mail:</label>
            <input [(ngModel)]="registerEmail" type="email" class="form-control" id="email" placeholder="Insert e-mail address" required
                   name="email">
          </div>
          <!-- spremenil iz username v usernameRegister -- ce pride do kakega buga -->
          <div class="form-group">
            <label for="usernameRegister">Username:</label>
            <input [(ngModel)]="registerUsername" type="text" class="form-control" id="usernameRegister" placeholder="Select username"
                   required name="username">
          </div>
          <!-- spremenil iz password v passwordRegister -- ce pride do kakega buga -->
          <div class="form-group">
            <label for="passwordRegister">Password:</label>
            <input [(ngModel)]="registerPassword" type="password" class="form-control" id="passwordRegister" placeholder="Select password"
                   required name="password">
            <input type="hidden" name="longitude" id="getlon1" />
            <input type="hidden" name="latitude" id="getlat1" />
          </div>
          <div *ngIf="!isConnected()" class="m-3 h-100" style="color: white">There is no connection</div>
          <button [disabled]="!isConnected()" class="btn btn-outline-dark">Register</button>
        </form>
        <!--</br>-->
        <div id="registerInfo" class="mt-2">{{registerError}}</div>
      </div>
    </div>

  </div>
</div>
<!-- PAGE CONTENT ENDS HERE -->
