<div class="sidebar">
  <div class="sidebar-inner">
    <div class="close">
      <i class="fa fa-close"></i>
    </div>
    <div class="title text-center">
      TINYROOM
    </div>
    <div class="pisava kaligrafija pl-3" *ngIf="username">
      <i class="fa fa-exclamation-triangle" *ngIf="!isConnected()" style="color:orange"></i> {{username | shorten}}
    </div>

    <div class="d-flex flex-column pl-3 kaligrafija pisava povezave-strani" *ngFor="let nav of navigation; index as i">
      <a routerLink="{{nav.href}}" (click)="deleteCookies(nav.value); onExit(nav.value);" class="{{i | isActive:activeTab}}" *ngIf="nav.value != 'STATISTICS' || rank=='admin'">{{nav.value}}</a>
    </div>
  </div>
</div>
