<div class="sidebar">
  <div class="sidebar-inner">
    <div class="close">
      <i class="fa fa-close"></i>
    </div>
    <div class="title text-center">
      TINYROOM
    </div>
    <div class="pisava kaligrafija pl-3" *ngIf="username">
      {{username}}
    </div>

    <div class="d-flex flex-column pl-3 kaligrafija pisava povezave-strani" *ngFor="let nav of navigation; index as i">
      <!-- TODO: treba namesto 0 notri pripeljat dejanski active_tab -->
      <!-- class={{ifEquals @index ../active_tab}} -->
      <a routerLink="{{nav.href}}" class="{{i | isActive:activeTab}}" *ngIf="nav.value=='CHAT'">{{nav.value}}</a>
      <a routerLink="{{nav.href}}" onClick="exit()" class="{{i | isActive:activeTab}}" *ngIf="nav.value!='CHAT' && nav.value!='LOG OUT'">{{nav.value}}</a>
      <a routerLink="{{nav.href}}" (click)="deleteCookies()" onClick="exit()" class="{{i | isActive:activeTab}}" *ngIf="nav.value=='LOG OUT'">{{nav.value}}</a>

    </div>
  </div>
</div>
