<div class="container-xl">
    <div class="page-content pisava">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12-map text-center" style="color: white;">
                <h2>Delete all entries in database</h2>
                <form action="/db/deleteAll" method="get">
                    <button class="btn btn-outline-dark">Delete</button>
                </form>
                <div id="loginInfo">{{{error}}}</div>
            </div>

            <div class="col-lg-6 col-md-12-map text-center" style="color: white;">
                <h2>Add predefined entries in database</h2>
                <form action="/db/addEntries" method="get">
                    <button class="btn btn-outline-dark">Add</button>
                </form>
                <div id="loginInfo">{{{error}}}</div>
            </div>
        </div>
    </div>
</div>