<!-- Modal -->
<div [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-auto-name" class="modal-title pull-left text-dark">{{action}}</h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="buttonClickDeny.emit($event)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center text-dark">
                <p>{{details}}</p>
                <button type="button" class="btn btn-default" (click)="buttonClickConfirm.emit($event)">Yes</button>
                <button type="button" class="btn btn-primary" (click)="buttonClickDeny.emit($event)">No</button>
            </div>
        </div>
    </div>
</div>
