/*.wrapper {
	display: flex;
	width: 100%;
}*/

body {
	background: #1d1f21;
}

.sidebar-inner {
	width: 270px;
	position: fixed;
	height: 100%;
	background: #2a2d30;
	z-index: 999;
	transition: all 0.3s ease;
}

.wrapper .sidebar {
	position: relative;
}

.wrapper .main-container {
	margin-left: 270px;
	width: calc(100% - 270px);
	transition: all 0.3s ease;
}

.wrapper .sidebar-inner .sidebar-menu a {
	padding: 10px 15px;
	display: block;
	/*height: 90px;*/
	background-color: #2a2d30;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
}

.wrapper .sidebar-inner .close {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 25px;
	color: white;
	display: none;
}

.wrapper .main-container .top-bar .hamburger {
	color: white;
	opacity: 0.5;
}

.wrapper .main-container .top-bar .hamburger i:hover {
	opacity: 0.75;
}

.wrapper .main-container .top-bar {
	display: flex;
}

.wrapper .main-container .top-bar .hamburger {
	position: relative;
	display: none;
}

.title {
	font-size: 27px;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
	padding: 10px 10px;
}

.username {
	font-size: 20px;
	font-family: "Press Start 2P", cursive;
	color: #ffffff;
	padding: 10px 15px;
}

.borderless {
	border: none;
}

@media screen and (max-width: 992px) {
	.wrapper .sidebar-inner {
		left: -100%;
	}

	.wrapper.active .sidebar-inner {
		left: 0;
	}

	.wrapper .main-container,
	.wrapper .main-container .top-bar {
		margin-left: 0;
		width: 100%;
	}

	.wrapper .sidebar-inner .close,
	.wrapper .main-container .top-bar .hamburger {
		display: block;
	}
}

.svetla {
	background: #2A2D30;
}

.temna {
	background: #1d1f21;
}

/*.kaligrafija {
	font-size: 27px;
	font-family: "Press Start 2P", cursive;
}*/

.pisava {
	color: #FFFFFF;
}

/*.temna {
	background: #1D1F21;
}*/

.robovi {
	border-radius: 15px;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-xl {
	max-width: 1300px;
}

#chat {
	padding: 15px;
	overflow: hidden;
}

#message {
	padding: 5px;
	width: 100%;
	height: 100%;

	border-color: rgb(75, 75, 75);
	border-style: solid;
}